/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/

html {
  background: url('assets/burger-friends.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

.main-page {
  display: flex;
  justify-content: space-around;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #0fb9b1;
  padding: 20px;
  width: 1370px;
  height: 30px;
  top: 500px;
  margin-right: auto;
  margin-left: auto;
}

.cooking {
  background-color: rgba(225, 225, 225, .9) ;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  padding: 50px;
  width: 400px;
  margin: 20px;
}

.lets-cook {
  background-color: #0fb9b1;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  border-color: blue;
}
.clear {
  color: white;
  background-color: #95a5a6;
  width: 80px;
  height: 70px;
  border-radius: 5px;
  border-color: rgba(225, 225, 225, .9);
}

.cooking-pot {
  background-color: rgba(225, 225, 225, .9);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center center;
  font-style: italic;
  flex-direction: column;
  height: 300px;
  padding: 50px;
  width: 400px;
  margin: 20px;
}

/* .you-should-make hidden {
  background-color: rgba(225, 225, 225, .9);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  font-style: italic;
  flex-direction: column;
  height: 300px;
  padding: 50px;
  width: 400px;
  margin: 20px;
} */
